<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll</title>
</head>

<body>
  
  <h1>Square Results</h1>
 
  <dl>
    <dt>Number</dt>
    <dd><%= @user_number %></dd>
    <dt>Square</dt>
    <dd><%= @squared %></dd>
  </dl>

  <a href="/square/new">Calculate another square root</a>

</body>
</html>
