<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll</title>
</head>

<body>
  
  <form action="/square/results">
    <div>
      <label for="user_number">
        Enter a number
      </label>
      <input id="user_number" type="text" name="number" placeholder="What number do you wan to take the square  of?">
    </div>

    

  

    <button>
      Calcualte square
    </button>
</form>

</body>
</html>
